[Unit]
Description=Simple static public web server
After=network.target

[Service]
Type=exec
ExecStart=/usr/bin/python3 -m http.server {{ http_server_port }} --directory /home/%i/public/
Restart=always
User=%i

[Install]
WantedBy=default.target