---
apiVersion: v1
kind: Service
metadata:
  name: dns-bind-external
  namespace: {{ bind_dns_namespace }}
  annotations:
    metallb.universe.tf/loadBalancerIPs: "{{ bind_dns_lb_ip }}"
spec:
  type: LoadBalancer
  selector:
    app: dns-bind
  ports:
    - name: dns-udp
      protocol: UDP
      port: 53
      targetPort: 1053
    - name: dns-tcp
      protocol: TCP
      port: 53
      targetPort: 1053
