host: http://localhost:{{ awx_controller_port }}
username: {{ awx_admin }}
password: {{ awx_password }}
verify_ssl: False

# Defaults.
use_token: False
verbose: False
certificate:
format: human
color: True
description_on: False