apiVersion: v1
baseDomain: {{ oc_coreos_ocp_domain }}
compute:
- name: worker
  replicas: 0
controlPlane:
  name: master
  replicas: 1
metadata:
  name: {{ oc_coreos_ocp_name }}
networking:
  clusterNetwork:
  - cidr: {{ oc_coreos_cluster_network_cidr }}
    hostPrefix: {{ oc_coreos_cluster_network_prefix }}
  machineNetwork:
  - cidr: {{ oc_coreos_ocp_subnet }}
  networkType: {{ oc_coreos_ocp_network }}
  serviceNetwork:
  - {{ oc_coreos_service_network }}
platform:
  none: {}
bootstrapInPlace:
  installationDisk: {{ oc_coreos_install_disk }}
pullSecret: '{{ oc_coreos_pull_secret | to_json }}'
sshKey: |
  {{ oc_coreos_ssh_key }}
